.fundo_banner {
    width: 100%;
    height: 100vh;
    background: url(../../../public/banner-sobre.png) no-repeat center center;
    background-size: cover;
}

.container_base {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sobre_area {
    padding: 100px 20px;
}

.sobre_area h3 {
    font-size: 20px;
    font-style: italic;
}

.imagens_exibidas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imagens {
    width: 50%;
    height: auto;
}