.fundo_container {
    width: 100%;
    position: fixed;
    background-color: #FADB79;
    z-index: 100;
    padding: 5px 20px 0px;
}

.container_base {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    margin: 0px auto;
}

.logo_img {
    width: 90px;
    height: 55px;
}

.area_links {
    display: flex;
    gap: 40px;
}

.link_topo {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link_topo:hover {
    color: rgb(94, 88, 88);
}

/* Media Query */

@media screen and (max-width: 768px) {
    .container_base {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .area_links {
        width: 100%;
        justify-content: space-around;
        padding-top: 5px;
        border-top: 1px solid black;
    }
}