@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --corBranca: #ffffff;
  --corCinzaClaro: #DADDE1;
  --corCinzaMedio: #474747;
  --corPreta: #000000;
  --corAmarela: #FADB79;
}

h1 {
  font-size: 90px;
  color: white;
  text-shadow: 3px 5px 2px var(--corCinzaMedio);
  text-transform: uppercase;
  text-align: center;
  padding: 0px 20px;
}

h2 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-align: center;
  color: var(--corCinzaMedio);
  line-height: 30px;
}

/* Media-Query */
@media screen and (max-width: 500px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }
}