@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --corBranca: #ffffff;
  --corCinzaClaro: #DADDE1;
  --corCinzaMedio: #474747;
  --corPreta: #000000;
  --corAmarela: #FADB79;
}

h1 {
  font-size: 90px;
  color: white;
  text-shadow: 3px 5px 2px var(--corCinzaMedio);
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-align: center;
  color: var(--corCinzaMedio);
}